
body {
    background-color: black;
}



.post {
    background-color: white;
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}  

.post-header {
    display: flex;
    font-size:  small; 
    margin-left: 10px;
    margin-bottom: 10px;
 }
 

.post-header div {
    padding-top: 10px;
 }

 .rigoberto {
    width: 88%;
 }

.post-body {
    margin: 1em;
    font-size: 0.7em;
    padding-bottom: 1em;
}

.post-icons {
display: flex;
justify-content: space-between;
padding-bottom: 1em;
}

.fa-brands {
    margin-right: 5px;
}
.fa-bookmark {
    margin-left:7.5em;
    }

i {
    margin-right: 15px;   
}


img {
    width: 100%;
    height: auto;
}

